In [1]:
##CODE
listx=["one","two","three","four"]

In [4]:
listx

['one', 'two', 'three', 'four']

In [5]:
if "two" in listx:
    print("two exists")

two exists

In [8]:
listx[1]="TWO"
print(listx)

['one', 'TWO', 'three', 'four']

In [9]:
newlist=["five","six","seven"]
print(listx+newlist)

['one', 'TWO', 'three', 'four', 'five', 'six', 'seven']

In [11]:
newlist.append("eight")
print(newlist)

['five', 'six', 'seven', 'eight', 'eight']

In [12]:
print(listx[1:4])

['TWO', 'three', 'four']

In [16]:
listx.pop(1)
print(listx)

['one', 'three', 'four']

In [17]:
listx.remove("three")

In [21]:
listx.append("five")
listx.append("six")
listx.append("seven")

In [22]:
listx

['one', 'four', 'five', 'five', 'six', 'seven']

In [23]:
listx.remove("five")
listx

['one', 'four', 'five', 'six', 'seven']

In [24]:
listx.sort()
print(listx)
listx.reverse()
print(listx)

['five', 'four', 'one', 'seven', 'six']
['six', 'seven', 'one', 'four', 'five']

In [ ]:
#functions

In [34]:
def functionName():
    print("hi i am your first function",)
    return ["Success",True]

In [35]:
name = "<3 A"
ret = functionName()
functionName(ret)

hi i am your first function

TypeError: functionName() takes 0 positional arguments but 1 was given